/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    margin: 0; }
body { margin: 0; font-family: 'Roboto', sans-serif;top: 0; }
.root {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
}
.header {
    z-index: 5;
    width: 100%;
    position: absolute;
    top: 0;
    color: black;
}